<html>
    <head>
    <title>
       Shopping App
    </title>
    
    
     </head>
<body>
    <h1>My Shopping Cart</h1>
    <div >
        
        <ul>
           <div style="height: 500px; width: 800px; background-color: aquamarine; margin: auto; padding: auto;" > <li><a href="/orders" style="margin: 300px; margin-top:150px;">Orders</a></li></div>
           <br>
            <div style="height: 500px; width: 800px; background-color: aquamarine; margin: auto; padding: auto;" ><li><a href="/products">Products</a></li>
            </div>
        </ul>
    </div>
</body>


    </html>