<html>
    <head>
    <title>
        Todo app
    </title>
    
    
     </head>
<body>
    <h1>Welcome to products section</h1>
    <div id="todo-table">
        <!-- <form action="/products" method="POST">
            <input type="text" name ="name" placeholder="Enter name..." required/>
            <input type="text" name ="price" placeholder="Enter Price..." required/>
            <button type="submit" >Add Item</button>

        </form> -->
       <ol>
           
           <!-- <li><ul><li>name: <%= x.product.doc.name%></li>
            <li>price: <%= x.product.doc.price%></li> -->
           
            <li>hbjg</li>

         
       </ol>
    </div>
</body>


    </html>