<html>
    <head>
    <title>
        Todo app
    </title>
    
    
     </head>
<body>
    <h1>Welcome to products section</h1>
    <div id="todo-table">
        <form action="/products" method="POST">
            <input type="text" name ="name" placeholder="Enter name..." required/>
            <input type="text" name ="price" placeholder="Enter Price..." required/>
            <button type="submit" >Add Item</button>

        </form>
       <ol>
            <% for(var i=0;i<x.count;i++){ %>
           <li><ul><li>name: <%= x.products[i].name%></li>
            <li>price: <%= x.products[i].price%></li>
            <li> <form action="/products/<%= x.products[i]._id %>" method="GET"><button type="submit" >Details</button></form>
            <form action="/products/delete/<%= x.products[i]._id %>" method="GET">
                <button  type="submit">DELETE</button>
              </form></li></ul>
           

           <% }%>
       </ol>
    </div>
</body>


    </html>